<%- include('template/header.ejs', { page }); %>

<link href="/css/contact.css" rel="stylesheet" type="text/css">

<div class="wrapper">
    <label id="title">Contato oficial</label>

    <div class="contact">
        <div class="member">
            <div class="logo">
                <img src="images/gremio_logo.png" style="border-radius: 50%;">
            </div>
            <label id="name">Grêmio Estudantil Rômulo Almeida</label>
            <a href="https://instagram.com/gremioromulo" class="link"><span class="icon"><ion-icon name="logo-instagram"></ion-icon></span> gremioromulo</a>
            <a href="mailto:gremiodoromulo@gmail.com" class="link"><span class="icon"><ion-icon name="mail-outline"></ion-icon></span> gremiodoromulo@gmail.com</a>
        </div>
        <div class="border"></div>
        <div class="member">
            <div class="logo">
                <img src="images/cedra_logo.png" style="border-radius: 25%;">
            </div>
            <label id="name">Colégio Estadual Democrático Dr Rômulo Almeida</label>
            <a href="https://instagram.com/drromuloalmeida" class="link"><span class="icon"><ion-icon name="logo-instagram"></ion-icon></span> drromuloalmeida</a>
            <a href="mailto:colegioromuloalmieda@gmail.com" class="link"><span class="icon"><ion-icon name="mail-outline"></ion-icon></span> colegioromuloalmieda@gmail.com</a>
            <a class="link"><span class="icon"><ion-icon name="call-outline"></ion-icon></span> (75) 3631-7369</a>
        </div>
    </div>
</div>